@model ActivityItemModel

@{
    string CSHTML = "_ActivityItem.cshtml";

    IZProfile profile = DataHelper.GetProfile(typeof(Activity));
    // Associations (FK)
}

<div id="Item_Activity">
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.ControllerAction, new { id = "Activity_Item_ControllerAction" })
    @Html.HiddenFor(model => model.MasterEntity, new { id = "Activity_Item_MasterEntity" })
    @Html.HiddenFor(model => model.MasterKey, new { id = "Activity_Item_MasterKey" })
    @Html.ZHiddenFor(model => model.IsReadOnly, "Activity_Item_IsReadOnly")
    @Html.ZHiddenFor(model => model.IsSave, "Activity_Item_IsSave")

    <div id="Tab_Activity" class="@AppDefaults.CSSClassTab">
        <div class="e-tab-header">
            <div>@ActivityResources.EntitySingular</div>
            <div>@ActivityRoleResources.EntityPlural</div>
        </div>
        <div class="e-content">
            <div data-easylob-id="TabItem_Activity">
                <div class="@AppDefaults.CSSClassTabItem">

                    <div id="Group_Activity_Id" class="@profile.EditCSSGroupFor("Id")">
                        @Html.LabelFor(model => model.Activity.Id, new { @class = profile.EditCSSLabelFor("Id") })
                        @Html.EditorFor(model => model.Activity.Id, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("Id"), id = "Activity_Id" } })
                        @* @Html.ValidationMessageFor(model => model.Activity.Id, "", new { @class = AppDefaults.CSSClassValidator }) *@
                    </div>

                    <div id="Group_Activity_Name" class="@profile.EditCSSGroupFor("Name")">
                        @Html.LabelFor(model => model.Activity.Name, new { @class = profile.EditCSSLabelFor("Name") })
                        @Html.EditorFor(model => model.Activity.Name, new { htmlAttributes = new { @class = profile.EditCSSEditorFor("Name"), id = "Activity_Name" } })
                        @* @Html.ValidationMessageFor(model => model.Activity.Name, "", new { @class = AppDefaults.CSSClassValidator }) *@
                    </div>

                </div>
            </div>
            <div data-easylob-id="TabItem_Activity_ActivityRoles">
                <div class="@AppDefaults.CSSClassTabItem">

                    <div id="Ajax_Activity_ActivityRoles"></div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    zSyncfusionItem("Item_Activity");

    $(function () {
        try {
            zSyncfusionItemReady("Item_Activity");

            var model = @Html.Raw(JsonConvert.SerializeObject(Model));
            var profile = @Html.Raw(JsonConvert.SerializeObject(profile));
            var controllerAction = model.ControllerAction == null ? "" : model.ControllerAction.toLowerCase();

            var ejTab = new ej.navigations.Tab({
                selected: function (args) { selected_Tab_Activity(args); }
            });
            ejTab.appendTo("#Tab_Activity");

            // Associations (FK)

            // Collections (PK)
            if (controllerAction != "create" && zContains(profile.EditCollections, "ActivityRoles")) {
                zUrlDictionaryWrite("ActivityRole", "@Context.Request.Url.AbsoluteUri");
                var ajaxUrl = "@(Html.Raw(Url.Action("Search", "ActivityRole", new { MasterControllerAction = Model.ControllerAction, MasterEntity = "Activity", MasterKey = Model.Activity.Id })))";
                zAjaxLoadSync("Ajax_Activity_ActivityRoles", ajaxUrl);
            }

            zOnItemView(model, profile);
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "function", exception));
        }
    });

    function selected_Tab_Activity(args) {
        zTabDictionaryWrite("Activity", args.selectedIndex);

        try {
            var tabId = $(args.selectedContent).attr("data-easylob-id").replace("TabItem_Activity_", "");
            switch (tabId) {
                case "ActivityRoles":
                    zGridDataSource("Grid_ActivityRole", "@Url.Action("DataSource", "ActivityRole")");
                    break;
            }
        } catch (exception) {
            zAlert(zExceptionMessage("@CSHTML", "selected_Tab_Activity", exception));
        }
    }
</script>

@Html.EJS().ScriptManager()
